
doc/
01-Other/
.vscode/
.devcontainer/
json/

#syncthing
**/*sync-conflict*

.continue

#esp-idf
managed_components/
Releases/
build/
sdkconfig
sdkconfig.old
debug.log

#clangd cache
.clangd
.cache/ 
.old

#KiCad
*.kicad_pcb.lck
*.kicad_sch-bak
*.kicad_sch.lck
*.kicad_pcb.lck
**/tank_PCB-backups/

#FreeCad
*.FCBak